@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Live Status</h2>

<ul id="metrics-list">
    <li class="stop-start" id="stop-start"></li>
    <li class="time-select">
        <select id="query-time-select">
            <option data-time-limit="timePeriod=15mins">Last 15mins</option>
            <option data-time-limit="timePeriod=30mins">Last 30mins</option>
            <option data-time-limit="timePeriod=1hour">Last Hour</option>
            <option data-time-limit="timePeriod=4hours">Last 4 Hours</option>
            <option data-time-limit="timePeriod=12hours">Last 12 Hours</option>
            <!--<option data-time-limit="timePeriod=1day">Last 24 Hours</option>-->
            <option>Custom...</option>
        </select>
    </li>
</ul>

<h3 id="metric-title">&nbsp;</h3>
<ul id="metric-drilldown-list"></ul>

<div id="graphs"></div>

@section Stylesheet
{
    <link rel="stylesheet" href="~/Assets/css/jquery-ui/jquery-ui-smoothness.css" />
    <style>
        h1 { margin: 0; }

        iframe {width: 100%;height: 250px; }

        .graph-container {margin-left: 0;background-color: transparent;padding: 0;height: auto; width: auto; }

        .graph-container.half {width: 50%;float: left; }

        .graph-title {font-size: 1.2em;min-height: 23px;font-weight: bold; }
    </style>
}

@section Javascript
{
    <script src="~/assets/js/page-capture.js"></script>
    <script src="~/assets/js/lib/jquery-2.0.0.min.js"></script>
    <script src="~/assets/js/lib/jquery-ui.js"></script>
    <script src="~/assets/js/lib/TLRGRP.core.js"></script>
    <script src="~/assets/js/lib/TLRGRP.BADGER.utilities.js"></script>
    <script src="~/assets/js/status-charts/TLRGRP.dashboards.Builder.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.DashboardCollection.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.DashboardList.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Dashboard.WebHosts.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Dashboard.ByHost.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Dashboard.Overview.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Dashboard.Mobile.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.TimeSelect.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.StopStart.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.MetricRequest.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Cube.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.WMI.js"></script>
    <script src="~/assets/js/status/TLRGRP.BADGER.Machines.js"></script>
	
    <script type="text/javascript">
        (function () {
            var dashboardCollection = new TLRGRP.BADGER.DashboardCollection([
                new TLRGRP.BADGER.Dashboard.Overview(),
                new TLRGRP.BADGER.Dashboard.Mobile(),
                new TLRGRP.BADGER.Dashboard.WebHosts(),
                new TLRGRP.BADGER.Dashboard.ByHost()
            ], 'Overview');
            
            dashboardCollection.setUpUi();
        })();
    </script>
}