@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Product Owner Dashboard</h2>

<ul class="view-options">
    <li class="view-option summary"><a href="/ProductOwnerDashboard">Summary</a></li>
    <li class="view-option graphs selected">Graphs</li>
</ul>
