@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}


<h1>Release Manager</h1>

<h2>Dashboards</h2>

<ul class="all-dashboards-list">
    <li class="dashboard-item project-goals"><a href="/ProjectsAndGoals">Projects and Goals</a></li>
    <li class="dashboard-item product-owner"><a href="/ProductOwnerDashboard">Product Owner</a></li>
    <li class="dashboard-item release"><a href="/ReleaseDashboard">Release</a></li>
    <li class="dashboard-item status"><a href="/Status">Live Status</a></li>
</ul>