@{
    Layout = "~/Views/Layouts/_Layout.cshtml";
}


<h1>Release Manager</h1>

<h2>Dashboards</h2>

<ul>
    <li><a href="/ProductOwnerDashboard">Product Owner Dashboard</a></li>
    <li><a href="/ReleaseDashboard">Release Dashboard</a></li>
</ul>