@{
    ViewBag.Title = "Estimates";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Estimates</h2>
<ul class="estimate-list">
    <li>
        <div class="estimate-ticket-details">
            <div>R-12345</div>
            <div>This is an example ticket</div>
        </div>
        <div class="estimate-ticket-estimate">
            
        </div>
    </li>
</ul>