<!DOCTYPE html>

<html>
    <head>
        <title>Release Manager</title>
        <meta name="viewport" content="width=device-width" />
    
        <link href="~/Assets/css/site.css" rel="stylesheet" />
        <link href="~/Assets/css/ladda.css" rel="stylesheet" />
    </head>
    <body>
        <header id="top-bar">
            <a id="top-bar-logo" href="/"></a>
            <div class="top-bar-section">
                <ul>
                    <li><a href="/UpcomingReleases">Plan Release</a></li>
                    <li><a href="/Releases">All Releases</a></li>
                </ul>
            </div>
            <div class="top-bar-section">
                <ul>
                    <li><a href="/CycleTime">Cycle Time</a></li>
                    <li><a href="/Estimates">Estimates</a></li>
                </ul>
            </div>
            <div class="top-bar-section">
                <input type="text" id="omnibar" placeholder="Enter Release ID, Ticket ID or Date of release" disabled />
            </div>
        </header>

        <div class="main-body">
            @RenderBody()
        </div>
        
        <script type="text/javascript" src="~/Assets/js/lib/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="~/Assets/js/ladda.js"></script>
    
        @RenderSection("Javascript", false)
    </body>
</html>
