@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<div id="refresh-timer">
    <div id="refresh-progress"></div>
    <div id="refresh-text">0%</div>
</div>
<h2>Server Status</h2>
<h3>Web</h3>
<ul class="server-list">
    <li class="server-item">
        <a href="http://telweb001p.tlrg.org" target="_blank">TELWEB001P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb002p.tlrg.org" target="_blank">TELWEB002P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb003p.tlrg.org" target="_blank">TELWEB003P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb004p.tlrg.org" target="_blank">TELWEB004P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb005p.tlrg.org" target="_blank">TELWEB005P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb006p.tlrg.org" target="_blank">TELWEB006P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb007p.tlrg.org" target="_blank">TELWEB007P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb008p.tlrg.org" target="_blank">TELWEB008P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb009p.tlrg.org" target="_blank">TELWEB009P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb010p.tlrg.org" target="_blank">TELWEB010P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb011p.tlrg.org" target="_blank">TELWEB011P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb012p.tlrg.org" target="_blank">TELWEB012P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb013p.tlrg.org" target="_blank">TELWEB013P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb014p.tlrg.org" target="_blank">TELWEB014P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb015p.tlrg.org" target="_blank">TELWEB015P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb016p.tlrg.org" target="_blank">TELWEB016P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb017p.tlrg.org" target="_blank">TELWEB017P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb018p.tlrg.org" target="_blank">TELWEB018P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
    <li class="server-item">
        <a href="http://telweb019p.tlrg.org" target="_blank">TELWEB019P</a>
        <div class="server-status-indicator"></div>
        <div class="server-current-status">Unknown</div></li>
</ul>

<div class="half-width">
    <h3>SSL</h3>
    <ul class="server-list">
        <li class="server-item">
            <a href="http://telweb107p.tlrg.org" target="_blank">TELWEB107P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
        <li class="server-item">
            <a href="http://telweb108p.tlrg.org" target="_blank">TELWEB108P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
        <li class="server-item">
            <a href="http://telweb109p.tlrg.org" target="_blank">TELWEB109P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
    </ul>
</div>

<div class="half-width">
    <h3>AU</h3>
    <ul class="server-list">
        <li class="server-item">
            <a href="http://telweb320p.tlrg.org" target="_blank">TELWEB320P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
        <li class="server-item">
            <a href="http://telweb321p.tlrg.org" target="_blank">TELWEB321P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
        <li class="server-item">
            <a href="http://telweb322p.tlrg.org" target="_blank">TELWEB322P</a>
            <div class="server-status-indicator"></div>
            <div class="server-current-status">Unknown</div></li>
    </ul>
</div>

@section Javascript
{
    <script type="text/javascript">
        $(function() {
            var allServers = $('.server-item');
            var timerProgress = $('#refresh-progress');
            var timerText = $('#refresh-text');
            var deferreds = [];
            var refreshAll = function () {
                var progress = 0;
                var outOf = allServers.size();

                allServers.each(function() {
                    var item = $(this);
                    var refreshIndicator = $('status-pending', item);
                    var url = $('a', item).text();

                    if (!refreshIndicator.length) {
                        refreshIndicator = $('<div class="status-pending"></div>').appendTo(item);
                    }

                    deferreds[deferreds.length] = $.ajax({
                        url: '/ReleaseDashboard/Status',
                        data: {
                            server: url
                        },
                        cache: false,
                        success: function (data) {
                            var status = data.Status;
                            $('.server-current-status', item).text(status);
                            $('.server-status-indicator', item)[0].className = 'server-status-indicator ' + status.toLowerCase();
                            progress++;
                            
                            refreshIndicator.addClass('hidden');

                            var progressPercent = Math.floor((progress / outOf) * 100);
                            timerProgress.css('width', progressPercent + '%');
                            timerText.text(progressPercent + '%');
                        }
                    });
                });

                $.when.apply($, deferreds).then(function () {
                    setTimeout(refreshAll, 1000);
                });
            };

            refreshAll();
        });
    </script>
}
